@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');
    *{
        margin: 0;
        border: 0;
        padding: 0;
    }
        body{
        background-color: #10454F;
        }   
        header{
        padding: 32px;
        border-bottom:20px solid #818274;
        background-color: #506266;
        }
        header div{
            text-align: center;
        }
        header div a {
            color: #BDE038;
            font-size: 22px;    
            line-height: 30px;
            margin: 0 16px;
            text-decoration: none;
            font-family: "Ojuju", sans-serif;} 
    header div a:hover{
        color: #BDE038;
    transition: color 700ms;
    }
        
        #box {
            text-align: center;
            padding: 32px;
        }

        #box img{
            border-radius: 100%;
            border: 5px solid #262086;
            margin-bottom:30px;
        }
        #box h1{
            font-size: 42px;
            line-height: 52px;
            font-weight: bold;
        }
        #box h2 {
            font-size: 24px;
            line-height: 34px;
            font-weight: normal;
            margin-top: 8px;
            opacity: 0.8;
        }
        #box p {
            max-width: 500px;
            margin: 32px auto;
            font-size: 24px;
            line-height: 34px;
        }
        :root{
            --subcor: #57a615
        }
        .links {
            text-align: center;
        }
        .links a{
            color:white;
            font-size: 20px;
            line-height: 30px;
            margin: 0 16px;
            text-decoration: none;
        }
        .links a:hover {
            color: white;
            transition:600ms;
            font-size: 23px;
        }
        #box h1{
            padding: 4px;
        }
        #box h2{
            padding: 10px;
        }
        #box  {  
            font-size: 23px;
        }
        #box a {
            color: aqua;
            transition: 600ms
        }
        #linksfooter {
            padding-top: 32px;
        }
        #linksFooter a {
            padding-top: 32px;
            padding-bottom: 8px;
            border-bottom: 3px solid black;
        }
        .cards {
            max-width: 800px;
            margin: 10px auto;
        }
        .card {
            background-color: #A3AB78; 
        }

        .card_image img{
            width: 100%; 
        }

        .card_content,.card_info{
            padding:18px
        }
        .card_info{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .card_price{
            background-color: #A3AB78;
            filter: brightness(90%);
            padding: 5px 20px;
            border-radius: 20px;
            text-align: center;
        }
            



